@import '~styles/config';

.container {
  @include container;

  height: 100%;

  &.fullVH {
    height: 100vh;
  }

  &.fullHeight{
    min-height: 100%;
  }

  &.relative{
    position: relative;
    height: 100%;
  }
}
